{% extends 'base.html.twig' %}

{% block title %}NFT index{% endblock %}

{% block body %}
    <h1>NFT index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Date</th>
                <th>PathImage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for n_f_t in n_f_ts %}
            <tr>
                <td>{{ n_f_t.id }}</td>
                <td>{{ n_f_t.price }}</td>
                <td>{{ n_f_t.date ? n_f_t.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ n_f_t.pathImage }}</td>
                <td>
                    <a href="{{ path('app_n_f_t_show', {'id': n_f_t.id}) }}">show</a>
                    <a href="{{ path('app_n_f_t_edit', {'id': n_f_t.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_n_f_t_new') }}">Create new</a>
{% endblock %}
