{% extends 'base.html.twig' %}

{% block title %}NFT{% endblock %}

{% block body %}
    <h1>NFT</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ n_f_t.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ n_f_t.price }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ n_f_t.date ? n_f_t.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PathImage</th>
                <td>{{ n_f_t.pathImage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_n_f_t_index') }}">back to list</a>

    <a href="{{ path('app_n_f_t_edit', {'id': n_f_t.id}) }}">edit</a>

    {{ include('nft/_delete_form.html.twig') }}
{% endblock %}
